<!DOCTYPE htmlB
<html xmlns:th="http://www.thymeleaf.org"B
<headB
    <titleBEdit Request</titleB

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"B

    <styleB
        .container-box {
            max-width: 700px;
            background: white;
            padding: 25px;
            margin-top: 40px;
            border-radius: 12px;
            box-shadow: 0 2px 8px rgba(0,0,0,0.15);
            align-self: center;
            margin-left: 215px;
        }

        body{
            align-content: center;
        }

        .btn-success{
            background-color: #1d4ed8;
        }

        .btn-success:hover {
            background: #1d4ed8;
            color: white;
        }

    </styleB
</headB
<bodyB

<div class="container"B
    <div class="container-box"B

        <h2 class="mb-4 text-center"BEdit Request</h2B

        <form th:action="@{/products/edit/{id}(id=${product.id})}"
              th:object="${product}"
              method="post"B

            <label class="form-label"BRequest Name</labelB
            <input type="text" class="form-control mb-3" th:field="*{name}" requiredB

            <label class="form-label"BDescription</labelB
            <textarea class="form-control mb-3" th:field="*{description}" rows="4" requiredB</textareaB

            <label class="form-label"BRequest Condition:</labelB
            <select class="form-control mb-3" name="condition" th:value="${product.condition}"B
                <option value="New"  th:selected="${product.condition == 'New'}"BNew</optionB
                <option value="Used" th:selected="${product.condition == 'Used'}"BUsed</optionB
                <option value="Any" th:selected="${product.condition == 'Any'}"BAny</optionB
                <option value="Slightly Used" th:selected="${product.condition == 'Slightly Used'}"BSlightly Used</optionB
            </selectB


            <label class="form-label"BQuantity Required</labelB
            <input type="number" class="form-control mb-3" th:field="*{quantity}" requiredB

            <button class="btn btn-success w-100"BSave Changes</buttonB
        </formB

        <a href="/products" class="btn btn-secondary w-100 mt-3"BBack to Products</aB

    </divB
</divB

</bodyB
</htmlB

